---
const { frontmatter } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{frontmatter.mnemonic}</title>
    </head>
    <body>
        <div class="grid-container">
            <h1>{frontmatter.title}</h1>
            <slot />
        </div>
    </body>
</html>

<style is:global>
    body {
        font-family: "Roboto", sans-serif;
        background: radial-gradient(white, #17bdea);
    }

    tr:hover {
        background-color: #17bdea;
    }

    table,
    th,
    td {
        border: 1px solid;
        padding: 0.5rem;
    }

    table {
        border-collapse: collapse;
        background-color: white;
    }

    .grid-container {
        display: grid;
        place-items: center; /* or use justify-content and align-items below */
        height: 100%;
    }
</style>
